:root {
    --first-title-color:  #2E2F42; 
    --first-btn-color :#FFFFFF;
    --main-text-color: #434455;
    --accent-color: #4D5AE5;  
}

.site-body {
    font-family: 'Roboto', sans-serif;
    color:blue;
}
.link {
    text-decoration: none;
}
.list {
        list-style: none; 
    }
/* -----logo------ */
.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33; 
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);  

}
.logo-studio {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33; 
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #2E2F42; 
}
/* ------header---- */
.header-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);

}

.header-link.current {
color: var(--accent-color);
}
.heading-texte {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
      
}
.mailto { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--main-text-color);   
}
.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
/* ------hero------- */
.hero-list {
    background-color: #2E2F42;
}
.hero-title {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--first-btn-color)
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--first-btn-color);
    background-color: var(--accent-color);
    
}

/* ------heading---- */
.heading-title {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--first-title-color);
}
.heading-texte {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--main-text-color);
}
/* ----main------ */
.main-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--first-title-color);
}
/* -----body------ */
.body {
    background-color:#F4F4FD;;
}
.body-title {
font-family: 'Roboto', sans-serif;   
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--first-title-color);
}
.body-new-title {
font-family: 'Roboto', sans-serif; 
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--first-title-color);
}
.body-new-text {
 font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
color: var(--main-text-color);
}
/* -----footer----- */
.footer {
    background-color:var(--first-title-color)
} 
.footer-text {
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #E7E9FC;   
}
.footer-studio {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}



/* -----------portfolio---------- */
.filtr-btn {
font-family: inherit;    
font-weight: 500;
font-size: 16px;
line-height: 1.50;
align-items: center;
text-transform: uppercase;
cursor: pointer;
color: var(--accent-color);
background-color: #F4F4FD;
}

.portfolio-titel {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--first-title-color);
}

.portfolio-text {   
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--main-text-color);

} 